{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Pybo</title>
</head>
<body>
<!-- 네비게이션 바 -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
<!--    <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a> &lt;!&ndash; Pybo index 페이지 이동&ndash;&gt;-->
<!--    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">로그인</a>-->
<!--                &lt;!&ndash; 브라우저 크기에 따라 로그인 버튼이 사라짐 (부트스트랩의 반응형 웹 기능) &ndash;&gt;-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

{% include "navbar.html" %} <!-- navbar.html 내용 삽입 -->

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->


<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>

{% block script %}
{% endblock %}

</body>
</html>